<%-include ../partials/header.ejs %>
<%-include ../partials/nav.ejs %>

<div class="review-prompt">
  <h3 class="new-review-prompt">Share your Knowledge</h3>
  <p class="review-prompt-paragraph">How did you spend your time in this city? What would you have wanted to know before you arrived? Any places to avoid? Make Roam travellers the saviest folks around!</p>
</div>
<div class="review-form-container">
  <form class="new-review-form" action="/reviews/newreview" method="POST">
    <label>Pick a city</label>
    <select class="review" name="cityId">
      <option value="1">Hong Kong</option>
      <option value="2">New York</option>
      <option value="3">Oakland</option>
    </select>
    <label>Enter a snappy title</label>
    <input class="review review-title" type="text" name="title" required placeholder="title">
    <label>Speak your mind!</label>
    <input class="review review-content" type="text" name="content" required placeholder="Type your review here.">
    <input type="hidden" name="userId" value="<%= userId %>">
    <button class="new-review-submit-btn" type="submit" action="/" method="POST">Post Your Review!</button>
  </form>
</div>

<%-include ../partials/footer.ejs %>
