<%-include ../partials/header.ejs %>

<div class="parallax">
  <div class="welcome">
    <h2>Select a city to get started:</h2>
  </div>

  <div class="menu login-prompt">
    <div class="main-link"><a class="link-text" href="./oakland">Oakland</a></div>
    <div class="main-link"><a class="link-text" href="./hongkong">Hong Kong</a></div>
    <div class="main-link"><a class="link-text" href="./newyork">New York</a></div>
  </div>
</div>


<%-include ../partials/footer.ejs %>
