<div class="navbar">
  <div class="navbar-left">
    <p class="logo">Roam</p>
      <span class="dropdown-container">
        <a class="dropdown-entry link-text" href="#">
          Cities <span class="down-arrow">&#x25BC;</span>
        </a>
          <ul class="dropdown-menu hide">
            <li class="dropdown-li"><a class="drop-link" href="./cities/1">Hong Kong</a></li>
            <li class="dropdown-li"><a class="drop-link" href="./cities/2">New York</a></li>
            <li class="dropdown-li"><a class="drop-link" href="./cities/3">Oakland</a></li>
          </ul>
      </span>
    <a class ="link-text" href="/profile">Profile</a>
  </div>
  <div class="navbar-right">
    <form class="logout-form" action="/" method="POST">
      <button class="logout-btn">Log Out</button>
    </form>
  </div>
</div>
