<div class="navbar">
  <div class="navbar-left">
    <a class ="link-text" href="/">Roam</a>
    <a class ="link-text" href="/">Home</a>
    <a class ="link-text" href="/cities/cityintro">Cities</a>
    <a class ="link-text" href="/profile">Profile</a>
  </div>
  <div class="navbar-right">
    <button class="logout-btn">Log Out</button>
  </div>
</div>
