<div class="navbar">
  <div class="navbar-left">
    <p class="logo">Roam</p>
    <a class ="link-text" href="/cities">Cities</a>
    <a class ="link-text" href="/profile">Profile</a>
  </div>
  <div class="navbar-right">
    <form class="logout-form" action="/" method="POST">
      <button class="logout-btn">Log Out</button>
    </form>
  </div>
</div>
