<%-include ../partials/header.ejs %>

<div class="parallax">
  <div class="welcome">
    <h1 class="roam">Roam</h1>
  </div>

  <div class="menu login-prompt">
    <div class="main-link"><a class="link-text" href="./auth/signup">Sign Up</a></div>
    <div class="main-link"><a class="link-text" href="./auth/login">Log In</a></div>
  </div>
</div>

<%-include ../partials/footer.ejs %>
