<%-include ../partials/header.ejs %>

<div class="parallax">
  <div class="welcome">
    <h1 class="roam">Roam</h1>
    <p class="sub-title">A Travel Community</p>
    <div class="menu login-prompt">
      <p class="intro-text">Explore new cities. Connect with fellow travelers!</p>
      <span class="intro-btn main-link"><a class="link-text" href="./auth/signup">Sign Up</a></span>
      <span class="intro-btn main-link"><a class="link-text" href="./auth/login">Log In</a></span>
    </div>
  </div>

</div>

<%-include ../partials/footer.ejs %>
