<%- include ../partials/header.ejs %>

<form class="login-form" action="/auth/login" method="post">
  <input type="text" name="email" placeholder="Your Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>
<p><%= alert %></p>


<%- include ../partials/footer.ejs %>
