<%- include ../partials/header.ejs %>

<div class="parallax">
  <div class="welcome">
    <h2>Join Our Community!</h2>
    <div class="auth-form-container">
      <p class="auth-text">Once you create an account, you will be redirected to the login page.</p>
      <form class="auth-form" action="/auth/signup" method="post">
        <input class="auth-form-link" type="text" name="name" placeholder="Your Name">
        <input class="auth-form-link" type="text" name="email" placeholder="Your Email">
        <input class="auth-form-link" type="password" name="password" placeholder="Password">
        <input class="auth-form-link" type="text" name="currentcity" placeholder="Current City">
        <button class="auth-form-btn" type="submit">Submit</button>
      </form>
      <p><%= badInfo %></p>
  </div>
</div>


<%- include ../partials/footer.ejs %>
